* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
    color: purple;
}

header {
    display: flex;
    align-items: center;
    gap: 400px;
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 10px;
    gap: 10px;
}

section {
    border: 2px solid black;
    text-align: center;
    padding: 5px 0px;
}

img {
    aspect-ratio: 16/9;
    max-width: 400px;
}

img:hover {
    max-width: 401px;
}

a {
    text-decoration: none;
    color: purple;
}

@media (max-width:600px) {
    header {
        justify-content: center;
        gap: 25px;
    }
    main {
        grid-template-columns: 1fr;
    }
}
