* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1 {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 5pt 50px;
    font-style: italic;
}

.contacts {
    background-color: rgb(190, 123, 190);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 300px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: purple;
    margin: 5px 0px;
}

img {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 10px;
    margin: 5px 10px;
}

img:hover {
    width: 51px;
}

p { 
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 0pt 20px;
    font-size: 25px;
}

p:hover {
    font-size: 26px;
}

@media (max-width:512px) {
    .contacts {
        padding: 20px 30px;
    }
}