* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

.container {
    background-color: rgb(190, 123, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.heading {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 0pt 30px;
    margin: 10px 0px 5px 0px;
    font-style: italic;
}

.contacts {  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: purple;
    margin: 5px 0px;
}

img {
    aspect-ratio: 1/1;
    width: 40px;
    border-radius: 10px;
    margin: 5px 10px;
}

img:hover {
    width: 41px;
}

p { 
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 0pt 20px;
    font-size: 22px;
}

p:hover {
    font-size: 23px;
}

@media (max-width:512px) {
    .container {
        background-color: rgb(190, 123, 190);
        margin: 0px 30px;
        padding: 200px 0px;
    }
    .heading {
        margin: 0px;
        padding: 0px 30px;
        margin: 0px 0px 5px 0px;
        text-align: center;
    }

    h1 {
        font-size: 25px;
    }
    
    .contacts {
        padding: 0px;
        margin: 5px 0px;
    }

    img {
        width: 30px;
    }

    img:hover {
        width: 31px;
    }

    p {
        font-size: 20px;
    }

    p:hover {
        font-size: 21px;
    }
}