* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

.brand_name {
    color: purple;
}

.nav_bar {
    display: flex;
    gap: 330px;
    align-items: center;
    margin: 20px 20px;
    color: purple;
}

li {
    display: inline-flex;
    margin: 10px;
}

a {
    color: purple;
}

a:hover {
    border-bottom: 2px solid purple;
}

img {
    border-radius: 50%;
}

.intro_picture {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    gap: 30px;
}

h1, h2 {
    color: white;
    margin: 5px 0px;
}

.button {
    text-align: center;
    margin: 20px 0px;
}

button {
    padding: 5px 10px;
    margin: 0px 10px;
}

@media (max-width:512px) {
    .nav_bar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: purple;
        color: rgb(230, 223, 223);
        margin: 2px 30px;
        padding: 5px 0px;
    }

    .brand_name {
        color: rgb(230, 223, 223);
        margin: 0px;
        padding: 0px;
    }

    li {
        margin: 0px 5px;
        padding-bottom: 2px;
    }

    a {
        color: rgb(230, 223, 223);
    }

    a:hover {
        border-bottom: 2px solid white;
    }

    img {
        border-radius: 50%;
        width: 300px;
    }

    .cover {
        background-color: purple;
        margin: 0px 30px;
        padding: 30px 0px;
    }

    .intro_picture {
        flex-direction: column;
        margin: 15px 10px;
        gap: 30px;
        border-radius: 20px;
    }

    .intro {
        margin: 0px 10px;
        background-color: rgb(230, 223, 223);
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    h1, h2 {
        margin: 5px 10px;
        padding: 5px 10px;
        color: purple;
    }

    h1 {
        border-left: 10px solid purple;
        border-bottom: 2px double purple;
        border-top: 2px double purple;
    }

    button {
        border-radius: 10px;
        margin: 0px 5px;
    }

    .button {
        text-align: center;
        margin: 30px 0px;
    }
}