* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

img {
    border-radius: 50%;
}

.intro_picture {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    gap: 30px;
}

h1, h2 {
    color: white;
}

.button {
    text-align: center;
    margin: 20px 0px;
}

button {
    padding: 5px 10px;
    margin: 0px 10px;
}

@media (max-width:512px) {
    img {
        border-radius: 50%;
        width: 350px;
    }

    .cover {
        background-color: purple;
        margin: 0px 30px;
         padding: 30px 0px;
    }

    .intro_picture {
        flex-direction: column;
        margin: 20px 10px;
        gap: 30px;
        border-radius: 20px;
    }

    .intro {
        margin: 0px 25px;
        background-color: rgb(230, 223, 223);
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    h1, h2 {
        margin: 10px 10px;
        border-bottom: 2px double purple;
        padding: 5px 10px;
        color: purple;
    }

    h1 {
        border-left: 10px solid purple; 
    }

    button {
        border-radius: 10px;
        margin: 0px 5px;
    }

    .button {
        text-align: center;
        margin: 30px 0px;
    }
}