*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}

header {  
    text-align: center;
}

main {
    aspect-ratio: 16/9;
    width: 55%;
    margin: 10px 0px;
}

.display {
    aspect-ratio: 16/9;
    width: 55%;
    overflow-y: auto;
    margin-bottom: 10px;
}

textarea {
    aspect-ratio: 16/9;
    width: 100%;
    padding: 10px;
}

p {
    text-align: justify;
    white-space: pre-wrap;
    width: 100%;
}

button {
    padding: 5px 10px;
}

footer {
    margin: 0px;
}

@media (max-width:600px) {
    div {
        margin-top: 100px;
    }

    main {
        width: 80%;
    }

    .display {
        width: 80%;
    }
}