* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(230, 223, 223);
}

header {
    display: flex;
    align-items: center;
    gap: 400px;
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 10px;
    gap: 10px;
}

section {
    border: 2px solid black;  
}

img {
    aspect-ratio: 16/9;
    width: 350px;
}
